.login-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../../assets/login/loginBg.jpg);
    .login-form {
        position: absolute;
        top: 270px;
        right: 380px;
        // width: 450px;
        // height: 550px;
        padding: 60px 50px;
        background-color: #fff;
        border-radius: 5px;
        h4 {
            font-size: 30px;
            font-weight: 400;
            color: #656565;
            margin-top: 0;
            margin-bottom: 15px;
        }
        .el-form-item {
            margin-bottom: 0;
            .el-input {
                .el-input__inner {
                    width: 100%; 
                    height: 75px;
                    line-height: 75px;
                    padding-left: 55px;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #ccc;
                }
            }
            .keep-password {
                margin: 14px 0;
                padding-left: 15px;
            }
            .forget-password {
                text-align: right;
                padding-right: 20px;
                color: #4e92fd;
            }
            .submit {
                width: 100%;
                font-size: 20px;
            }
        }
        .password {
            .el-input__inner {
                padding-right: 50px;
            }
        }
        .svg-container {
            position: absolute;
            top: 18px;
            left: 10px;
            font-size: 22px;
            color: #4e92fd;
            z-index: 9;
        }
        .username {
            .svg-container {
                font-size: 28px;
                transform: translateX(-4px);
            }
        }
        .show-pwd {
            position: absolute;
            top: 18px;
            right: 20px;
            font-size: 20px;
            color: #4e92fd;
            cursor: pointer;
        }
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }
}
